body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.App a {
  text-decoration: none;
}
.nav {
  color: white;
  padding: 20px 50px;
  border-bottom: 1px solid white;
  margin: 0;
  cursor: pointer;
}
.search-movie-heading {
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 30px 0;
}
.search-container {
  display: flex;
  justify-content: center;
}
#search {
  width: 50%;
  outline: none;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
}
.search-container button {
  margin-left: 20px;
  background-color: red;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.5rem 0.4rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}
.movies-container p {
  color: white;
}
.movie-card {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: center;
  width: 200px;
}
.movie-card .img {
  width: 200px;
  height: 250px;
}
.movie-card h3 {
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.movie-card a {
  text-align: center;
  margin-top: 10px;
}
.movie-card button {
  background-color: rgba(69, 170, 242, 1);
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
p {
  color: white;
}
img[alt] {
  color: white;
}
.movie-container {
  display: flex;
  margin: 50px 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.movie-complete-info {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 55%;
  margin: 0 auto;
}
.poster {
  width: 250px;
}
.poster img {
  width: 100%;
}
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: left; */
  flex: 1;
  margin-left: 100px;
}
.movie-title {
  margin: 0;
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
}
span {
  color: rgba(231, 76, 60, 1);
}
.plot {
  color: white;
  width: 100%;
  margin: 10px;
  letter-spacing: 2px;
}
.plot-description {
  color: white;
  width: 100%;
  margin: 10px;
  letter-spacing: 1px;
  line-height: 25px;
}
.buttons-container {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.buttons-container button {
  color: white;
  background-color: rgba(69, 170, 242, 1);
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttons-container a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .movie-complete-info {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .movie-complete-info {
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }
  /* .plot,
  .plot-description {
    width: 90%;
  } */
}
@media screen and (max-width: 425px) {
  .movie-complete-info {
    justify-content: center;
    width: 100%;
  }
  .movie-title {
    font-size: 20px;
    margin-top: 20px;
  }
  .plot,
  .plot-description {
    padding: 0 10%;
    width: 100%;
  }
  .movie-info {
    width: 70%;
    margin-left: 80px;
  }
}
@media screen and (max-width: 320px) {
  .search-movie-heading {
    font-size: 1.5rem;
  }
  .buttons-container {
    width: 250px;
  }
  .movie-info {
    margin-left: 40px;
  }
}
